.project
.classpath
.settings/
target/
.externalToolBuilders
.tern-project
*.class
*.jsfdia
bin/
target/
*.iml
.idea
.sass-cache
.metadata/
**/resources/stylesheets
build/
.svn/
.eclipse-pmd
*.log
**/log
*.swp
/.gtm/
